/** @format */

.body {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.scroll {
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scroll::-webkit-scrollbar {
  display: none;
}

.errMsg {
  margin: auto 0;
}